@tailwind base;
@tailwind components;
@tailwind utilities;
:root { color-scheme: light; }
body { margin: 0; font-family: Inter, sans-serif; background: #f7f9fc; color: #191c1e; }
.material-symbols-outlined { font-family: 'Material Symbols Outlined'; font-weight: normal; font-style: normal; line-height: 1; }
